Source: mdns-bridge
Maintainer: Peter Brightwell <peter.brightwell@bbc.co.uk>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7), dh-python
Standards-Version: 3.9.1

Package: mdns-bridge
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, nmos-common, reverse-proxy
Description: mDNS to HTTP bridge service
 See www.nmos.tv for more details