Source: nmos-common
Maintainer: Peter Brightwell <peter.brightwell@bbc.co.uk>
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7), dh-python
Standards-Version: 3.9.1

Package: nmos-common
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Utility classes and functions for NMOS APIs
 See www.nmos.tv for more details