Source: nmos-query
Maintainer: Sean Casey <sean.casey@rd.bbc.co.uk>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7), dh-python
Standards-Version: 3.9.1

Package: nmos-query
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, etcd, reverse-proxy, nmos-common
Description: Provides NMOS Query API functionality
 See wwww.nmos.tv for more details.
